@font-face {
    font-family: sensei;
    src: url(fonts/Sensei-Medium.ttf);
}

.sensei {
    font-family: sensei;
    font-size: 5.5em;
}

.museo {
    min-height: 600px !important;
    width: 100% !important;
    object-fit: cover;
    transition: 0.5s all ease-in-out;
    border: 1px solid black;
}

.museo:hover {
    transform: scale(1.5);
    min-height: 600px !important;
    width: 100% !important;
    transition: 0.5s all ease-in-out;
}